@import "tailwindcss";

:root {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-foreground-dim: #333333;

  --font-family-sans: var(--font-plex-sans), Helvetica, Arial, sans-serif;
  --font-family-mono: var(--font-plex-mono), Courier, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
    --color-foreground-dim: #d1d1d1;
  }
}

body {
  width: 60%;
  margin: 0 auto;
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-family-sans);
}

svg {
  color: var(--color-foreground);
}
