@import "tailwindcss";

:root {
  --color-background: #ffffff;
  --color-background-gradient-fade: #ededed;

  --color-foreground: #171717;
  --color-foreground-dim: #333333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0a0a0a;
    --color-background-gradient-fade: #171717;

    --color-foreground: #ededed;
    --color-foreground-dim: #d1d1d1;
  }
}

@layer utilities {
  .font-sans {
    font-family: var(--font-sans), Helvetica, Arial, system-ui, sans-serif;
  }
  .font-mono {
    font-family: var(--font-mono), Courier, ui-monospace, SFMono-Regular, monospace;
  }

  .bg-background {
    background-color: var(--color-background);
  }
  .text-foreground {
    color: var(--color-foreground);
  }
  .text-foreground-dim {
    color: var(--color-foreground-dim);
  }
}

html {
  min-height: 100vh;
}

body {
  width: 60%;
  margin: 0 auto;
  background: linear-gradient(
    to bottom,
    var(--color-background),
    var(--color-background-gradient-fade)
  );
  color: var(--color-foreground);
  font-family: var(--font-family-sans);
}
