@config "../tailwind.config.ts";
@import "tailwindcss";

:root {
  --color-background: #0a0a0a;
  --color-background-gradient-fade: #171717;
  --color-card: #111111;

  --color-foreground: #ededed;
  --color-foreground-dim: #d1d1d1;
  --color-foreground-link: #a0ccff;
}

@layer utilities {
  .font-sans {
    font-family: var(--font-sans), Helvetica, Arial, system-ui, sans-serif;
  }
  .font-mono {
    font-family:
      var(--font-mono), Courier, ui-monospace, SFMono-Regular, monospace;
  }

  .bg-background {
    background-color: var(--color-background);
  }
  .bg-card {
    background-color: var(--color-card);
  }
  .text-foreground {
    color: var(--color-foreground);
  }
  .text-foreground-dim {
    color: var(--color-foreground-dim);
  }
}

html {
  min-height: 100vh;
}

body {
  /* grid background */
  background-image:
    /* small grid */
    linear-gradient(to right, rgba(237, 237, 237, 0.06) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(237, 237, 237, 0.06) 1px, transparent 1px),
    /* big grid */
    linear-gradient(to right, rgba(237, 237, 237, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(237, 237, 237, 0.1) 1px, transparent 1px),
    /* existing gradient */
    linear-gradient(
        to bottom,
        var(--color-background),
        var(--color-background-gradient-fade)
      );

  background-size:
    24px 24px,
    24px 24px,
    120px 120px,
    120px 120px,
    100% 100%;

  /* align by half-cells to align at page center */
  background-position:
    /* small grid: 24px -> half is 12px */
    calc(50% - 12px) calc(50% - 12px),
    calc(50% - 12px) calc(50% - 12px),
    /* big grid: 120px -> half is 60px */ calc(50% - 60px) calc(50% - 60px),
    calc(50% - 60px) calc(50% - 60px),
    /* gradient */ 0 0;

  background-attachment: fixed, fixed, fixed, fixed, fixed;

  color: var(--color-foreground);
  font-family: var(--font-sans);
}

.link {
  color: var(--color-foreground-link);
  text-decoration: underline;
}
