h1 {
  font-family: var(--font-plex-mono);
  font-size: 3em;
  text-align: center;
}

.subtitle {
  font-size: 1.5em;
  text-align: center;
  color: var(--color-foreground-dim);
}

.icon-links img {
  width: 2em;
  height: 2em;
}
